body {
  background-color: rgb(213, 51, 62);
  font-family: 'Coda Caption', sans-serif;
  color: white;
  height: 100vh;
  background-image: url('mouth.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#defaultCanvas0 {
  z-index: -1;
  position: absolute;
  height: 90vh !important;
}

section {
  font-size: 12px;
  color: white
}

.Nav-header {
  text-align: left;
  color: white;
  top: 0;
  width: 100%;
  padding: 14px 16px;
}
.App-about {
  margin: 5%;
}
.App-about h1 {
  font-size: 60px;
  margin-bottom: 0;
  text-align: left;
}
.App-about h2 {
  font-size: 30px;
  margin-bottom: -10px;
}
.App-about h3 {
  font-size: 25px;
  margin-bottom: -10px;
}
.social-links i {
  color: white;
  font-size: 15px;
  padding-right: 10px;
}

.App-header {
  background-color: rgb(213, 51, 62);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
